<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    
    <ion-card-header>
      <img src="Bull.jpeg">
      <ion-card-title>Iñaki Alonso Molina Ponce</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
       Carrera: ingenieria en informatica
    </ion-card-content>
    <ion-card-content>
      Descripcion: soy uno de los más célebres filósofos de la antigua Grecia,
       que vivió en el siglo IV a. C. Se interesó por disciplinas tan diversas como la biología,
        la filosofía y la política
   </ion-card-content>
  </ion-card>
  <ion-card>
    
    <ion-card-header>
      <img src="src/app/img/Bull.jpeg">
      <ion-card-title>Marcos Fabian Pacheco Torres</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
       Carrera: ingenieria en informatica
    </ion-card-content>
    <ion-card-content>
      Descripcion: soy uno de los más célebres filósofos de la antigua Grecia,
       que vivió en el siglo IV a. C. Se interesó por disciplinas tan diversas como la biología,
        la filosofía y la política
   </ion-card-content>
  </ion-card>
</ion-content>
